.CssGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-column-gap: 15px;
    // grid-row-gap: 15px;
    grid-gap: 30px;
    //newFeature branch
    div{
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #4c4c4c;
    }
    div:nth-child(odd){
        background: #ccc;
        color: red;
        font-size: 25px;
    }
    //zmiany na nowej gałęzi
}