.TopNavigation{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 1px solid rgba(127, 127, 127, .25);
    display: flex;
    justify-content: flex-end;
    background-color: aquamarine;
    height: auto;
    animation: openmodal;
    animation-duration: 1.5s;
    ul{
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-evenly;
        align-items: center;
        animation: openmodal;
        animation-duration: .75s;
        li{
            position: relative;
            list-style-type: none;
            transition: .2s all ease-in;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid gray;
            margin-right: 20px;
            &:hover{
                border-bottom: 1px solid green;
            }
            ul{
                background-attachment: blue;
                position: absolute;
                display: flex;
                top: 80px;
                flex-direction: column;
                width: 100%;
                li{
                    border: 1px solid rgba(127, 127, 127, .25);
                    &:hover{
                        border: 1px solid rgba(127, 127, 127, .25);
                    }
                }
                li:nth-child(9){
                    background: pink;
                }
                a{
                    width: 150px;
                    text-align: center;
                    padding: 10px;
                    text-decoration: none;
                }
            }
        }
    }
    .OpenMenuButton{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        border: 1px solid gray;
        cursor: pointer;
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .TopNavigation{
        border-bottom: none;
        ul{
            width: 100%;
            display: table-caption;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                height: 50px;
                ul{
                    display: none;
                }
            }
        }
        .OpenMenuButton{
            display: block;
        }
    }
}

@keyframes openmodal{
    from{opacity: 0;}
    to{opacity: 1;}
}