.Button{
    background-image: linear-gradient(to bottom right, #4bebc7, #49cbd9);
    font-weight: bold;
    color: #FFF;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}